html{
    background-image: url(https://beltanefiresociety.files.wordpress.com/2018/03/2012-06-23t08-11-39-000_ellen_duffy.jpg?w=775&h=517);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: rgb(226, 222, 203);
    text-shadow:5px 4px 5px rgb(34, 1, 1);
}
h1{
    text-transform:uppercase;
    font-weight:900;
    font-size: 80px;
    margin:0px;
    text-align: center;
    text-decoration: underline;
}
main{
    margin: 200px;
    height: 100%;
    text-align: center;
}
h2 , #a{
    font-size: 40px;
    width: 100%;
}
footer {
    position: absolute;
    bottom: 0;
}
